.delivery{
    display: none;

    &.active{
        display: block;
    }

    &__wrapper{
        display: flex;
        align-items: stretch;
    }

    &__img-block{
        background-color: #FFAB08;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 24px 0 0 24px;
        width: 50%;
    }

    &__content{
        width: 50%;
        height: 100%;
        padding: 24px;
    }

    &__title{
        font-size: 24px;
        font-weight: 600;
        margin: 20px 0 16px;
    }

    &__input{
        width: 100%;
        padding: 12px;
        border-radius: 12px;
        border: 1px solid #F2F2F3;
        background: #FFF;
        margin-bottom: 8px;

        &::placeholder{
            font-size: 12px;
            color: #B1B1B1;
        }
    }

    &__phone{
        margin-bottom: 16px;
    }

    &__choice{
        margin-bottom: 8px;
    }

    &__address{
        margin-top: 4px;
    }

    &__block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 8px;
    }

    &__apply{
        margin-top: 30px;
    }
}

.delivery__lbl{
    display: block;
    cursor: pointer; 
    user-select:none;
    text-align: left;
    
    input{
      display: none;
      &+span{
        display: inline-block; 
        position: relative;
        padding-left: 20px;
        &:before{
          content: '';
          display: block; 
          position: absolute;
          top: 0px;
          left: 0px;
          border-radius: 50%;
          margin-right: 5px;
          width: 12px;
          height: 12px;
          border: 1px solid #F2F2F3;
          background: #fff;
        }
        &:after{
          content: '';
          display: block; 
          width: 8px;
          height: 8px;
          background: #222;
          position: absolute;
          border-radius: 50%;
          top: 3px;
          left: 3px;
          opacity: 0;
          transform: scale(0,0); 
        }
      }
      &:checked+span:after{
        opacity: 1;
        transform: scale(1,1);
      }
    }
}

@media (max-width: 540px){
    .delivery{
        padding-bottom: 100px;
        position: relative;

        &__wrapper{
            display: block;
        }

        &__img-block{
            display: none;
        }

        &__title{
            font-size: 19px;
            width: calc(100% - 30px);
        }
        &__content{
            width: 100%;
        }

        &__apply{
            position: absolute;
            bottom: 36px;
            left: 24px;
            right: 24px;
            margin: 0;
            width: auto;
        }
    }
}
