.main{
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 100px;
    }

    .products{
        width: 100%;
        margin-left: 30px;

        &__title{
            font-size: 40px;
            font-weight: 600;
        }
    }
}

@media (max-width: 768px){
    .main{
        &__wrapper{
            display: block;
        }

        .products{
            margin-left: 0;
            margin-top: 30px;

            &__title{
                font-size: 28px;
            }
        }
    }    
}